@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
@tailwind base; 
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --desaturated-dark-cyan: #5ba4a4;
  --light-grayish-cyan-background: #effafa;
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: #7b8e8e;
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

@layer components {
  .flex-center {
    @apply flex items-center;
  }
  .tag-color {
    @apply bg-light-grayish-cyan-background text-desaturated-dark-cyan;
  }
}

.App {
  background: var(--light-grayish-cyan-background);
  font-family: League Spartan;
  font-weight: 500;
  min-height: 100vh;
  text-align: center;
  // width: 375px;
}

// .header {
//   height: 160px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: black;
// }
